.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Security: local secrets and credentials
.env
.env.*
!.env.example
*.key
*.pem
*.p12
*.pfx
*.jks
*.keystore
id_rsa
id_rsa.*
credentials.json
*.secrets.json
